<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="abc_project_builder"
         name="ABC Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="abc.builder.ABCBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="abc_project_nature"
         name="ABC Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="abc.builder.ABCNature">
         </run>
      </runtime>
      <builder
            id="abc.abc_project_builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ABC Project Nature commands"
            id="abc.abc_project_nature.category">
      </category>
      <command
            name="Add/RemoveABC Project Nature"
            defaultHandler="abc.builder.AddRemoveABCNatureHandler"
            categoryId="abc.abc_project_nature.category"
            id="abc.addRemoveABCNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="abc.addRemoveABCNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="abc.abc_project_nature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="abc.addRemoveABCNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="abc.abc_project_nature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
